<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5 class="mb-0">Slot Management</h5>
        <small class="text-muted">Event Type: {{eventType}}</small>
    </div>

    <button class="btn btn-outline-secondary" (click)="closeWizard()">
        Close
    </button>
</div>
<div class="card shadow-sm">
    <div class="card-body">
        <form class="row g-3" [formGroup]="slotForm" (ngSubmit)="onSubmit()">
            <div class="col-12">
                <h6 class="border-bottom pb-2">Basic Information</h6>
            </div>
            @if (eventType == EventType.FIXED ||eventType == EventType.FLEXIBLE ||eventType == EventType.BUSINESS ) {
            <div class="col-md-4 mb-2">
                <label class="form-label">Slot Name</label>
                <input type="text" class="form-control form-control-sm" formControlName="slotName">
                @if (slotForm.controls['slotName'].invalid && (slotForm.controls['slotName'].touched ||
                slotForm.controls['slotName'].dirty)){
                <div class="text-danger">
                    Slot Name must be between 1 and 350 characters
                </div>
                }
            </div>
            <div class="col-md-4 mb-2">
                <label class="form-label">Slot Description</label>
                <input type="text" class="form-control form-control-sm" formControlName="slotDescription">
                @if (slotForm.controls['slotDescription'].invalid && (slotForm.controls['slotDescription'].touched ||
                slotForm.controls['slotDescription'].dirty)){
                <div class="text-danger">
                    Slot Description must not exceed 2500 characters
                </div>
                }
            </div>
            }

            @if (eventType == EventType.FIXED) {
            <div class="col-md-4 mb-2">
                <label class="form-label">Max Attendee</label>
                <input type="number" class="form-control form-control-sm" formControlName="maxBookPerInterval">
                @if (slotForm.controls['maxBookPerInterval'].invalid && (slotForm.controls['maxBookPerInterval'].touched
                ||
                slotForm.controls['maxBookPerInterval'].dirty)){
                <div class="text-danger">
                    Attendee must be at least 1 person.
                </div>
                }
            </div>
            }

            <div class="col-12">
                <h6 class="border-bottom pb-2 mt-3">Date & Time Configuration</h6>
            </div>
            @if (eventType == EventType.FLEXIBLE ||eventType == EventType.BUSINESS) {
            <div class="col-md-4 mb-2">
                <label class="form-label">Select Slot Interval (minutes)</label>

                <select class="form-select" formControlName="intervalType">
                    <option value="" disabled>
                        Select Slot Interval (minutes)
                    </option>
                    @for (preset of SLOT_INTERVAL_PRESETS; track $index) {
                    <option [value]="preset">{{preset}} minutes</option>
                    }
                    <option value="customInterval">Custom</option>
                </select>
                @if(slotForm.get('intervalType')?.hasError('required') && (slotForm.get('intervalType')?.touched ||
                slotForm.get('intervalType')?.dirty)) {
                <div class="text-danger">
                    Please select slot interval
                </div>
                }
                @if (showCustomInterval) {
                <div class="row mt-2">
                    <div class="col-md-4 mb-2">
                        <input type="number" class="form-control form-control-sm" formControlName="slotIntervalMinutes"
                            placeholder="Enter minutes (e.g. 45)" [min]="5" [step]="5" />
                    </div>
                    @if (slotForm.get('slotIntervalMinutes')?.hasError('notDivisibleBy5')) {
                    <div class="text-danger">
                        Interval must be divisible by 5 minutes
                    </div>
                    }
                    @if (eventType == EventType.FLEXIBLE && slotForm.get('slotIntervalMinutes')?.hasError('min')) {
                    <div class="text-danger">
                        Interval must be minimum of
                        {{
                        slotForm.get('slotIntervalMinutes')?.errors?.['min']?.min
                        }}
                        minutes
                    </div>
                    }
                    @if (eventType == EventType.BUSINESS && slotForm.get('slotIntervalMinutes')?.hasError('min')) {
                    <div class="text-danger">
                        Interval must be minimum of
                        {{
                        slotForm.get('slotIntervalMinutes')?.errors?.['min']?.min
                        }}
                        minutes
                    </div>
                    }
                    @if (eventType == EventType.BUSINESS && slotForm.get('slotIntervalMinutes')?.hasError('max')) {
                    <div class="text-danger">
                        Interval must not exist of
                        {{
                        slotForm.get('slotIntervalMinutes')?.errors?.['max']?.max
                        }}
                        minutes
                    </div>
                    }
                    @if(slotForm.get('slotIntervalMinutes')?.hasError('required') &&
                    (slotForm.get('slotIntervalMinutes')?.touched ||
                    slotForm.get('slotIntervalMinutes')?.dirty)) {
                    <div class="text-danger">
                        Please enter custom value
                    </div>
                    }
                </div>
                }
            </div>
            }


            @if (eventType == EventType.BUSINESS || eventType == EventType.FLEXIBLE) {
            <div class="col-md-4 mb-2">
                <label class="form-label">Select Slot Frequency for Booking (minutes)</label>
                <select class="form-select" formControlName="frequencyType">
                    <option value="" disabled>
                        Select Slot Frequency (minutes)
                    </option>
                    @for (frequency of SLOT_FREQUENCY_PRESETS; track $index) {
                    <option [value]="frequency">{{frequency}} minutes</option>
                    }
                    <option value="customFreq">Custom</option>
                </select>
                @if(slotForm.get('frequencyType')?.hasError('required') && (slotForm.get('frequencyType')?.touched ||
                slotForm.get('frequencyType')?.dirty)) {
                <div class="text-danger">
                    Please select slot frequency for booking
                </div>
                }
                @if (showCustomFreq) {
                <div class="row mt-2">
                    <div class="col-md-4 mb-2">
                        <input type="number" class="form-control form-control-sm"
                            formControlName="slotFrequencyIntervalMinutes" placeholder="Enter minutes (e.g. 45)"
                            [min]="5" [step]="1" />
                    </div>
                    @if (slotForm.get('slotFrequencyIntervalMinutes')?.hasError('min')) {
                    <div class="text-danger">
                        Frequency interval must not lesser than
                        {{
                        slotForm.get('slotFrequencyIntervalMinutes')?.errors?.['min']?.min
                        }}
                        minutes.
                    </div>
                    }
                    @if (slotForm.get('slotFrequencyIntervalMinutes')?.hasError('max')) {
                    <div class="text-danger">
                        Frequency interval must not larger than
                        {{
                        slotForm.get('slotFrequencyIntervalMinutes')?.errors?.['max']?.max
                        }}
                        minutes.
                    </div>
                    }
                    @if(slotForm.get('slotFrequencyIntervalMinutes')?.hasError('required') &&
                    (slotForm.get('slotFrequencyIntervalMinutes')?.touched ||
                    slotForm.get('slotFrequencyIntervalMinutes')?.dirty)) {
                    <div class="text-danger">
                        Please enter custom value
                    </div>
                    }
                </div>
                }
            </div>
            }

            @if (eventType == EventType.FIXED) {
            <div class="col-12 col-md-6 mb-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Start Date</mat-label>

                    <input matInput [matDatepicker]="startPicker" formControlName="startDate" />

                    <mat-datepicker-toggle matSuffix [for]="startPicker">
                    </mat-datepicker-toggle>

                    <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Start Time</mat-label>

                    <mat-select formControlName="startTime">
                        @for (t of starttimeOptionForFixedEvent; track $index) {
                        <mat-option [value]="t">
                            {{ t }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="col-12 col-md-6 mb-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select End Date</mat-label>

                    <input matInput [matDatepicker]="endPicker" [min]="slotForm.value.startDate"
                        formControlName="endDate" />

                    <mat-datepicker-toggle matSuffix [for]="endPicker">
                    </mat-datepicker-toggle>

                    <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>End Time</mat-label>

                    <mat-select formControlName="endTime">
                        @for (t of endTimeOptionsForFixedEvent; track $index) {
                        <mat-option [value]="t.value" [disabled]="t.disabled">
                            {{ t.value }}
                        </mat-option>
                        }
                    </mat-select>

                    @if (eventType == EventType.FIXED &&
                    (!slotForm.get('startDate')?.value ||
                    !slotForm.get('startTime')?.value ||
                    !slotForm.get('endDate')?.value) &&
                    slotForm.controls['endTime'].touched) {
                    <mat-hint class="text-danger">
                        Please select Start Date, Start Time and End Date first.
                    </mat-hint>
                    }

                </mat-form-field>
            </div>

            @if(slotForm.hasError('endBeforeStart') && (slotForm.controls['endDate'].touched ||
            slotForm.controls['endTime'].dirty)){
            <div class="text-danger">
                End date & time must be after start date & time
            </div>
            }

            @if(slotForm.hasError('rangeTooShortForInterval') && (slotForm.controls['endDate'].touched ||
            slotForm.controls['endTime'].dirty)){
            <div class="text-danger">
                End time must be at least {{ slotForm.value.slotIntervalMinutes }} minutes after start time
            </div>
            }
            }

            @if (eventType == EventType.FLEXIBLE){
            <div class="col-12 mb-2">
                <div [formGroup]="flexibleDaysHoursForm">
                    <div formArrayName="intervals">
                        @for (interval of getFlexibleIntervals().controls; track interval; let i = $index) {
                        <div [formGroup]="getFlexibleInterval(i)" class="border rounded p-3 mb-3">
                            <div class="row g-3">
                                <div class="col-12">
                                    <h6 class="mb-0">Event Time - Interval {{ i + 1 }}</h6>
                                </div>
                                <!-- start time input -->
                                <!-- original -->
                                <!-- <input type="datetime-local" formControlName="open" step="300" /> -->
                                <!-- new testing -->
                                <div class="col-12 col-md-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Select Start Date</mat-label>

                                        <input matInput [matDatepicker]="startPicker" formControlName="startDate" />

                                        <mat-datepicker-toggle matSuffix [for]="startPicker">
                                        </mat-datepicker-toggle>

                                        <mat-datepicker #startPicker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-md-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Start Time</mat-label>
                                        <mat-select formControlName="startTime">
                                            @for (t of startTimeOptionForFlexibleEvent; track $index) {
                                            <mat-option [value]="t">
                                                {{ t }}
                                            </mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <!-- end time input -->
                                <!-- original -->
                                <!-- <input type="datetime-local" formControlName="close" step="300" /> -->

                                <!-- new testing -->
                                <div class="col-12 col-md-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Select End Date</mat-label>

                                        <input matInput [matDatepicker]="endPicker" formControlName="endDate" />

                                        <mat-datepicker-toggle matSuffix [for]="endPicker">
                                        </mat-datepicker-toggle>

                                        <mat-datepicker #endPicker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-md-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>End Time</mat-label>

                                        <mat-select formControlName="endTime">
                                            @for (t of interval.get('endTimeOptions')?.value; track $index) {
                                            <mat-option [value]="t.value" [disabled]="t.disabled">
                                                {{ t.value }}
                                            </mat-option>
                                            }
                                        </mat-select>

                                        @if (eventType == EventType.FLEXIBLE &&
                                        (!getFlexibleInterval(i).get('startDate')?.value ||
                                        !getFlexibleInterval(i).get('startTime')?.value ||
                                        !getFlexibleInterval(i).get('endDate')?.value) &&
                                        getFlexibleInterval(i).controls['endTime'].touched) {
                                        <mat-hint class="text-danger">
                                            Please select Start Date, Start Time and End Date first.
                                        </mat-hint>
                                        }

                                    </mat-form-field>
                                </div>

                            </div>

                            @if (getFlexibleInterval(i).hasError('endBeforeStart') &&
                            (
                            (getFlexibleInterval(i).get('startTime')?.touched ||
                            getFlexibleInterval(i).get('startTime')?.dirty) ||
                            (getFlexibleInterval(i).get('startDate')?.touched ||
                            getFlexibleInterval(i).get('startDate')?.dirty) ||
                            (getFlexibleInterval(i).get('endTime')?.touched ||
                            getFlexibleInterval(i).get('endTime')?.dirty) ||
                            (getFlexibleInterval(i).get('endDate')?.touched ||
                            getFlexibleInterval(i).get('endDate')?.dirty)
                            )) {
                            <div class="text-danger mt-2">
                                End time must be later than start time
                            </div>
                            }
                            @if (getFlexibleInterval(i).hasError('rangeTooShortForInterval') &&
                            (
                            (getFlexibleInterval(i).get('startTime')?.touched ||
                            getFlexibleInterval(i).get('startTime')?.dirty) ||
                            (getFlexibleInterval(i).get('startDate')?.touched ||
                            getFlexibleInterval(i).get('startDate')?.dirty) ||
                            (getFlexibleInterval(i).get('endTime')?.touched ||
                            getFlexibleInterval(i).get('endTime')?.dirty) ||
                            (getFlexibleInterval(i).get('endDate')?.touched ||
                            getFlexibleInterval(i).get('endDate')?.dirty)
                            )
                            ) {
                            <div class="text-danger mt-2">
                                End time must be at least {{ slotForm.value.slotIntervalMinutes }} minutes after start
                                time
                            </div>
                            }

                            @if ((
                            getFlexibleInterval(i).get('startTime')?.hasError('required') ||
                            getFlexibleInterval(i).get('startDate')?.hasError('required') ||
                            getFlexibleInterval(i).get('endTime')?.hasError('required') ||
                            getFlexibleInterval(i).get('endDate')?.hasError('required')
                            ) && (
                            (getFlexibleInterval(i).get('startTime')?.touched ||
                            getFlexibleInterval(i).get('startTime')?.dirty) ||
                            (getFlexibleInterval(i).get('startDate')?.touched ||
                            getFlexibleInterval(i).get('startDate')?.dirty) ||
                            (getFlexibleInterval(i).get('endTime')?.touched ||
                            getFlexibleInterval(i).get('endTime')?.dirty) ||
                            (getFlexibleInterval(i).get('endDate')?.touched ||
                            getFlexibleInterval(i).get('endDate')?.dirty)
                            ))
                            {
                            <div class="text-danger mt-2">
                                Start (Date/Time) and End (Date/Time) is required
                            </div>
                            }
                            <div class="d-flex justify-content-start mt-3">
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                    (click)="removeFlexibleInterval(i)"
                                    [disabled]="getFlexibleIntervals().length === 1">Delete</button>
                            </div>

                        </div>
                        }

                        @if(flexibleDaysHoursForm.hasError('timeOverlapError')&&
                        (flexibleDaysHoursForm.touched ||
                        flexibleDaysHoursForm.dirty)){
                        <div class="text-danger">
                            Start Time and End Time of both interval cannot overlap.
                        </div>
                        }

                        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="addFlexibleInterval()">+
                            Add
                            Interval</button>
                    </div>
                </div>
            </div>
            }

            @if (eventType == EventType.BUSINESS){
            <div class="col-12 mb-2">
                <div [formGroup]="businessDaysHoursForm">
                    <div formArrayName="days">
                        <div class="row mt-2">
                            @for (day of getBusinessDays().controls; track $index; let i = $index) {
                            <div [formGroupName]="i">
                                <label>
                                    <input type="checkbox" formControlName="enabled" />
                                    <label class="form-label">{{dayNames[i]}}</label>
                                </label>
                                <div [hidden]="!day.get('enabled')?.value">
                                    <div formArrayName="intervals">
                                        @for (interval of getBusinessDayIntervals(i).controls; track $index; let j =
                                        $index) {
                                        <div [formGroupName]="j">
                                            <!-- new -->
                                            <div class="col-12 col-md-6">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Start Time</mat-label>
                                                    <mat-select formControlName="open">
                                                        @for (t of startTimeOptionForBusinessEvent; track $index) {
                                                        <mat-option [value]="t">
                                                            {{ t }}
                                                        </mat-option>
                                                        }
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>End Time</mat-label>

                                                    <mat-select formControlName="close">
                                                        @for (t of interval.get('closeTimeOptions')?.value; track $index)
                                                        {
                                                        <mat-option [value]="t.value" [disabled]="t.disabled">
                                                            {{ t.value }}
                                                        </mat-option>
                                                        }
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <!-- old -->
                                            <!-- <label class="form-label">Start Time</label>
                                            <input type="time" formControlName="open" />
                                            <label class="form-label">End Time</label>
                                            <input type="time" formControlName="close" /> -->
                                            <button type="button" (click)="removeBusinessinterval(i, j)">Delete</button>
                                        </div>
                                        @if (getBusinessInterval(i,j).hasError('endBeforeStart') &&
                                        (getBusinessIntervalControl(i,j,'open')?.touched ||
                                        getBusinessIntervalControl(i,j,'open')?.dirty) &&
                                        (getBusinessIntervalControl(i,j,'close')?.touched ||
                                        getBusinessIntervalControl(i,j,'close')?.dirty)) {
                                        <div class="text-danger">
                                            End time must be later than start time
                                        </div>
                                        }
                                        @if (getBusinessInterval(i,j).hasError('rangeTooShortForInterval') &&
                                        (getBusinessIntervalControl(i,j,'open')?.touched ||
                                        getBusinessIntervalControl(i,j,'open')?.dirty) &&
                                        (getBusinessIntervalControl(i,j,'close')?.touched ||
                                        getBusinessIntervalControl(i,j,'close')?.dirty)) {
                                        <div class="text-danger">
                                            Interval is too short for the minimum slot interval
                                        </div>
                                        }
                                        @if ((getBusinessIntervalControl(i,j,'open')?.hasError('required') &&
                                        (getBusinessIntervalControl(i,j,'open')?.touched ||
                                        getBusinessIntervalControl(i,j,'open')?.dirty)) ||
                                        (getBusinessIntervalControl(i,j,'close')?.hasError('required') &&
                                        (getBusinessIntervalControl(i,j,'close')?.touched ||
                                        getBusinessIntervalControl(i,j,'close')?.dirty))) {
                                        <div class="text-danger">
                                            Start Time and End Time is required
                                        </div>
                                        }
                                        }
                                        <button type="button" (click)="addBusinessInterval(i)">+ Add Interval</button>
                                    </div>
                                </div>
                                @if(getBusinessDays().at(i).hasError('timeOverlapError')&&
                                (getBusinessDays().at(i).touched ||
                                getBusinessDays().at(i).dirty)){
                                <div class="text-danger">
                                    Start Time and End Time of both interval cannot overlap.
                                </div>
                                }
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-2">
                <label class="form-label">Business Time Zone</label>
                <select class="form-select" formControlName="businessTimeZone">
                    @for (tz of timezones; track $index) {
                    <option [value]="tz.value">
                        {{tz.label}}
                    </option>
                    }
                </select>
                @if(slotForm.get('businessTimeZone')?.hasError('required') &&
                (slotForm.get('businessTimeZone')?.touched ||
                slotForm.get('businessTimeZone')?.dirty)) {
                <div class="text-danger">
                    Please choose a Time Zone
                </div>
                }
            </div>

            <div class="col-md-4 mb-2">
                <label class="form-label">Business Allow OverTime</label>
                <select class="form-select" formControlName="businessAllowOt">
                    <option [value]=true>
                        Allow Over Time
                    </option>
                    <option [value]=false>
                        No Over Time
                    </option>
                </select>
                @if(slotForm.get('businessAllowOt')?.hasError('required') &&
                (slotForm.get('businessAllowOt')?.touched ||
                slotForm.get('businessAllowOt')?.dirty)) {
                <div class="text-danger">
                    Please choose
                </div>
                }
            </div>
            }
            <div class="col-12">
                <h6 class="border-bottom pb-2 mt-3">Booking Rules</h6>
            </div>
            <div class="col-md-4 mb-2">
                <label class="form-label">Limit bookings per Identity for this slot</label>
                <select class="form-select" formControlName="noMaxBookingsPerIdentity">
                    <option [ngValue]="false">
                        With Limit
                    </option>
                    <option [ngValue]="true">
                        No limit
                    </option>
                </select>
                @if (hasMaxBookingsPerIdentity) {
                <input type="number" class="form-control mt-2" min="1" placeholder="Enter limit"
                    formControlName="maxBookingsPerIdentity" />
                @if (slotForm.get('maxBookingsPerIdentity')?.hasError('required') &&
                (slotForm.get('maxBookingsPerIdentity')?.touched ||
                slotForm.get('maxBookingsPerIdentity')?.dirty)){
                <div class="text-danger">
                    Please enter the amount of maximum booking allowed.
                </div>
                }
                @if (slotForm.get('maxBookingsPerIdentity')?.hasError('min') &&
                (slotForm.get('maxBookingsPerIdentity')?.touched
                ||
                slotForm.get('maxBookingsPerIdentity')?.dirty)){
                <div class="text-danger">
                    Minimum of 1 booking is required.
                </div>
                }
                }
            </div>
            @if (showUpdateWarning) {
            <div class="alert alert-danger mt-2">
                Updating the date or time only applies to future bookings. Existing bookings will keep their original
                schedule. Please review and confirm before proceeding.
            </div>
            }

            <div class="col-12 d-flex justify-content-end gap-2 mt-3">
                <button type="button" class="btn btn-outline-secondary" (click)="closeWizard()">
                    Cancel
                </button>

                <button class="btn btn-primary" type="submit">
                    Save Slot
                </button>
            </div>

        </form>
    </div>
</div>