<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5 class="mb-0">Create Invitation</h5>
    </div>
    <button class="btn btn-outline-secondary" (click)="closeInvitationWizard()">
        Close
    </button>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <form class="row g-3" [formGroup]="invitationForm" (ngSubmit)="onSubmit()">
            <div class="col-12">
                <h6 class="border-bottom pb-2">Slot Details</h6>
            </div>
            <div class="col-md-4">
                @if(slotId != null){
                <label class="form-label">Selected Slot:</label>
                <br>
                @if (slotSingle) {
                <span>{{ slotSingle.slotName }}</span>
                } @else {
                <div class="spinner-border spinner-border-sm" role="status"></div>
                <span> Loading slot details...</span>
                }
                }@else {
                <label class="form-label">Choose Slots to Include</label>
                <select class="form-select" formControlName="slotIncludeMode">
                    <option [value]="includeMode.ALL_AND_FUTURE">
                        All current and future slots
                    </option>
                    <option [value]="includeMode.ALL_CURRENT">
                        Only current slots
                    </option>
                    <option [value]="includeMode.SELECTED">
                        Choose specific slots
                    </option>
                </select>
                @if (isCustomSlot) {
                <div class="mb-2 text-muted small">
                    Please select one or more slots for this invitation.
                </div>
                @for (slot of slotList(); track slot.id; let i = $index) {
                <div class="form-check mb-1">
                    <input class="form-check-input" type="checkbox" (change)="onSlotToggle(slot.id, $event)">
                    <label class="form-check-label">{{slot.slotName}}</label>
                </div>

                }
                @if (invitationForm.get('selectedSlotIds')?.hasError('required') &&
                (invitationForm.get('selectedSlotIds')?.touched ||
                invitationForm.get('selectedSlotIds')?.dirty)){
                <div class="text-danger small">
                    At least one slot is needed.
                </div>
                }
                }
                }
            </div>
            <div class="col-12">
                <h6 class="border-bottom pb-2">Invitation Rules</h6>
            </div>
            <div class="col-md-4">
                <label class="form-label">Invitation Validity</label>
                <select class="form-select" formControlName="noExpiry">
                    <option [ngValue]="false">
                        Expires after a specific date
                    </option>
                    <option [ngValue]="true">
                        Never expired.
                    </option>
                </select>
                @if (hasExpiry) {
                <input class="form-control mt-2" type="date" formControlName="expiresAt" [attr.min]="today" />
                @if (invitationForm.get('expiresAt')?.hasError('required') &&
                (invitationForm.get('expiresAt')?.touched ||
                invitationForm.get('expiresAt')?.dirty)){
                <div class="text-danger">
                    Please enter date.
                </div>
                }
                }
            </div>

            <div class="col-md-4">
                <label class="form-label">Total Uses</label>
                <select class="form-select" formControlName="noMaxUsage">
                    <option [ngValue]="false">
                        Limit total uses
                    </option>
                    <option [ngValue]="true">
                        No limit
                    </option>
                </select>
                @if (hasMaxUsage) {
                <input type="number" class="form-control mt-2"
                    placeholder="Enter the maximum number of times this invitation can be used"
                    formControlName="maxUsage" />
                }
            </div>

            <div class="col-md-4">
                <label class="form-label">Uses per Identity</label>
                <select class="form-select" formControlName="noMaxUsagePerIdentity">
                    <option [ngValue]="false">
                        Limit per Identity
                    </option>
                    <option [ngValue]="true">
                        No limit
                    </option>
                </select>
                @if (hasMaxUsagePerIdentity) {
                <input type="number" class="form-control mt-2" min="1"
                    placeholder="Enter maximum uses allowed per identity" formControlName="maxUsagePerIdentity" />
                @if (invitationForm.get('maxUsagePerIdentity')?.hasError('required') &&
                (invitationForm.get('maxUsagePerIdentity')?.touched ||
                invitationForm.get('maxUsagePerIdentity')?.dirty)){
                <div class="text-danger">
                    Please enter the amount of maximum usage allowed.
                </div>
                }
                @if (invitationForm.get('maxUsagePerIdentity')?.hasError('min') &&
                (invitationForm.get('maxUsagePerIdentity')?.touched
                ||
                invitationForm.get('maxUsagePerIdentity')?.dirty)){
                <div class="text-danger">
                    Minimum of 1 usage is required.
                </div>
                }
                @if (invitationForm.hasError('maxUsagePerIdentityMaxError') &&
                (invitationForm.get('maxUsagePerIdentity')?.touched
                ||
                invitationForm.get('maxUsagePerIdentity')?.dirty)){
                <div class="text-danger">
                    Uses per Identity must not higher than Total Uses.
                </div>
                }
                }
            </div>

            <div class="col-md-4">
                <label class="form-label d-block mb-1">Access Requirement</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="requiredLogin" formControlName="requiredLogin"
                        [value]="false" id="anonymousAccess">
                    <label class="form-check-label" for="anonymousAccess">
                        Allow anonymous access
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="requiredLogin" formControlName="requiredLogin"
                        [value]="true" id="loginRequired">
                    <label class="form-check-label" for="loginRequired">
                        Login required
                    </label>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-end gap-2 mt-3">
                <button type="button" class="btn btn-outline-secondary" (click)="closeInvitationWizard()">
                    Cancel
                </button>

                <button class="btn btn-primary" type="submit">
                    Save Invitation
                </button>
            </div>

        </form>
    </div>
</div>