<p>add-event-wizard works!</p>
<button (click)="closeWizard()">close</button>
<form class="row g-3 needs-validation" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <div class="col-md-4">
    <label class="form-label">Event Name</label>
    <input type="text" class="form-control" formControlName="eventName">
    @if (eventForm.controls['eventName'].invalid && (eventForm.controls['eventName'].touched ||
    eventForm.controls['eventName'].dirty)){
    <div class="text-danger">
      Event Name must be between 1 and 350 characters
    </div>
    }
  </div>
  <div class="col-md-4">
    <label class="form-label">Event Description</label>
    <input type="text" class="form-control" formControlName="eventDescription">
    @if (eventForm.controls['eventDescription'].invalid && (eventForm.controls['eventDescription'].touched ||
    eventForm.controls['eventDescription'].dirty)){
    <div class="text-danger">
      Event Description must not exceed 2500 characters
    </div>
    }
  </div>
  <div class="col-md-4">
    <label class="form-label">Event Location</label>
    <input type="text" class="form-control" formControlName="eventLocationAddress">
    @if (eventForm.controls['eventLocationAddress'].invalid && (eventForm.controls['eventLocationAddress'].touched ||
    eventForm.controls['eventLocationAddress'].dirty)){
    <div class="text-danger">
      Event Location Name must be between 1 and 1000 characters
    </div>
    }
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" formControlName="includePosition">
      <label class="form-check-label">
        Include Map Location
      </label>
    </div>
  </div>
  @if (eventForm.get('includePosition')?.value) {
  <div>
    <app-leaflet-map-selection (selectedLocationEmit)="selectLocation($event)" (clearLocationEmit)="clearLocation()"></app-leaflet-map-selection>
  </div>
  <div class="col-md-4">
    <label class="form-label">Latitude</label>
    <input type="text" class="form-control" formControlName="latitude">
  </div>
  <div class="col-md-4">
    <label class="form-label">Longitude</label>
    <input type="text" class="form-control" formControlName="longitude">
  </div>
  }
  @if (eventForm.hasError('positionRequired') &&
  (eventForm.controls['longitude'].touched|| eventForm.controls['longitude'].touched)){
  <div class="text-danger">
    Please select location.
  </div>
  }
  <div class="col-md-4">
    <label class="form-label">Event Type</label>
    <select formControlName="slotType">
      <option value="" disabled>Select slot type</option>
      @for (type of slotTypeList; track $index ) {
      <option [value]="type">
        {{ type }}
      </option>
      }
    </select>
    @if (eventForm.controls['slotType'].invalid && (eventForm.controls['slotType'].touched ||
    eventForm.controls['slotType'].dirty)){
    <div class="text-danger">
      Require selection
    </div>
    }
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>

</form>