<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/welcome">
            <img class="logo" src="logo.png" alt="BookingSystem Logo">
        </a>

        <!-- Toggler button for mobile -->
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="isNavbarOpen()"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="isNavbarOpen()">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                @if (!(authService.authStatus$| async)) {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" (click)="closeNavbar()">Login</a>
                </li>
                }
                @if (authService.authStatus$| async) {
                <li class="nav-item">
                    <a class="nav-link" (click)="authService.logout(); closeNavbar()">Logout</a>
                </li>
                }
                @if (!(authService.authStatus$| async)) {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" (click)="closeNavbar()">Register</a>
                </li>
                }
                <li class="nav-item">
                    <a class="nav-link" routerLink="/welcome" (click)="closeNavbar()">Welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/roleSelect" (click)="closeNavbar()">Role Selection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/authDebug" (click)="closeNavbar()">Debug-Auth</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@if (loadingService.isLoading()) {
  <div class="loading-backdrop">
    <div class="loading-box text-center">
      <div class="spinner-border text-primary mb-3" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>

      @if (loadingService.isSlowLoading()) {
        <div class="fw-semibold">
          The server is starting up
        </div>
        <div class="text-muted small mt-1">
          This app is hosted on a free tier, so the first request may take few minutes.
          Please wait.
        </div>
      }
    </div>
  </div>
}

<router-outlet></router-outlet>