<p>event-dashboard-component works!</p>

<button (click)="openEventWizard()">+ Create Event</button>
<button (click)="openSlotWizard()">+ Create Slot</button>

@if (activeWizard === 'event') {
<div class="modal-backdrop fade show"></div> <!-- disables background -->
<div class="pop-out-wizard">
    <app-add-event-wizard (close)="closeWizard()"></app-add-event-wizard>
</div>
}

@if(activeWizard === 'slot') {
<div class="modal-backdrop fade show"></div> <!-- disables background -->
<div class="pop-out-wizard">
    <app-add-slot-wizard (close)="closeWizard()"></app-add-slot-wizard>
</div>
}