<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Booking Manager</h5>
    <button class="btn btn-outline-secondary" (click)="closeDashboard()">
        Close
    </button>
</div>

<h6 class="mb-2 text-muted">
  Booking List ({{ bookingListBySlotId().length}})
</h6>
<table table class="table table-hover align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Registered User</th>
            <th scope="col">Booked Time Range</th>
            <th scope="col">Booking Token</th>
            <th scope="col">Booking Creation Time</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @for (booking of bookingListBySlotId(); track booking.id ; ; let i = $index) {
        <tr>
            <th scope="row">{{i+1}}</th>
            @if (booking.isGuest) {
            <td>{{booking.guestFirstName}}</td>
            <td>{{booking.guestLastName}}</td>
            } @else {
            <td>{{booking.firstName}}</td>
            <td>{{booking.lastName}}</td>
            }
            <td>{{booking.email}}</td>
            <td>{{booking.isGuest === true ? 'No' : 'Yes'}}</td>
            <td>
                @if ((booking.bookedStartTime | date:'yyyyMMdd') === (booking.bookedEndTime | date:'yyyyMMdd')) {
                <div class="fw-semibold">
                    {{ booking.bookedStartTime | date:'dd MMM yyyy' }}
                </div>
                <div class="text-muted small">
                    {{ booking.bookedStartTime | date:'hh:mm a' }}
                    →
                    {{ booking.bookedEndTime | date:'hh:mm a' }}
                </div>
                } @else {
                <div class="fw-semibold">
                    {{ booking.bookedStartTime | date:'dd MMM yyyy' }}
                </div>
                <div class="text-muted small">
                    {{ booking.bookedStartTime | date:'hh:mm a' }}
                </div>
                <div>
                    →
                </div>
                <div class="fw-semibold">
                    {{ booking.bookedEndTime | date:'dd MMM yyyy' }}
                </div>
                <div class="text-muted small">
                    {{ booking.bookedEndTime | date:'hh:mm a' }}
                </div>
                }


            </td>
            <td>{{booking.bookingToken}}</td>
            <td>
                <div class="fw-semibold">
                    {{booking.bookedAt | date:'dd MMM yyyy'}}
                </div>
                <div class="text-muted small">
                    {{booking.bookedAt | date:'hh:mm a'}}
                </div>
            </td>
            <td [ngClass]="statusClassMap[booking.bookingStatus]">{{booking.bookingStatus}}</td>
            <td>
                <button type="button" class="btn btn-sm btn-danger"
                    (click)="comfirmDeleteBooking(booking.slot.id, booking.id)">
                    Delete Booking
                </button>
            </td>
        </tr>
        }

    </tbody>

</table>