<p>event-dashboard-component works!</p>

<button (click)="openAddEventWizard()">+ Create Event</button>

@if (createEventWizard === true) {
<div class="modal-backdrop fade show"></div> <!-- disables background -->
<div class="pop-out-wizard">
  <app-add-event-wizard [mode]="'CREATE'" (close)="closeAddEventWizard()"></app-add-event-wizard>
</div>
}

@if (updateEventWizard === true) {
<div class="modal-backdrop fade show"></div> <!-- disables background -->
<div class="pop-out-wizard">
  <app-update-event-wizard [eventId]="updateEventId" (close)="closeUpdateEventWizard()"></app-update-event-wizard>
</div>
}

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Event</th>
      <th scope="col">Description</th>
      <th scope="col">Location Address</th>
      <th scope="col">Location Link</th>
      <th scope="col">Event Type</th>
      <th scope="col">Action</th>
      <th scope="col">Slot Available</th>
      <th scope="col">Last Updated</th>
    </tr>
  </thead>
  <tbody>
    @for (event of (eventList()); track event.id; let i = $index) {
    <tr>
      <th scope="row">{{i+1}}</th>
      <td>{{event.eventName}}</td>
      <td>{{event.eventDescription}}</td>
      <td>{{event.eventLocationAddress}}</td>
      @if (event.includePosition) {
      <td>
        <a [href]="'https://www.google.com/maps/place/'+ event.latitude + ',' + event.longitude" target="_blank">
          View on map
        </a>
      </td>
      } @else {
      <td>Location position not included</td>
      }
      <td>{{event.eventType}}</td>
      <td>
        <button type="button" class="btn btn-outline-warning" (click)="openUpdateEventWizard(event.id)">
          Update
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmDeleteEvent(event.id, event.slotCount)">
          Delete
        </button>
      </td>
      <td>
        <div>{{event.slotCount}}</div>
        <button type="button" [routerLink]="['/eventDashboard', event.id, 'slots']">Manage Slot</button>
      </td>
      <td>{{event.updatedAt | date:'yyyy-MM-dd HH:mm:ss z'}}</td>
    </tr>
    } @empty {
    <tr>
      <td colspan="9" class="text-center">No event found.</td>
    </tr>
    }
  </tbody>
</table>