.calendar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.calendar-header {
  flex: 0 0 auto;   /* fixed height */
  padding: 8px;

}

.calendar-body {
  flex: 1;
  min-height: 0;
  overflow: hidden; /* FullCalendar manages its own scroll */
}

.slot-filter {
  flex: 0 0 auto;
  max-height: 120px;
  overflow-y: auto;
  border-top: 1px solid #ddd;
  padding: 8px;
}

:host ::ng-deep .fc-event.booked-slot-item {
    opacity: 1;
    z-index: 5;
    border: 1px solid #000000;
    display: flex;
    align-items: center;

}

:host ::ng-deep .fc-event.block-slot-item {
    opacity: 1;
    z-index: 1;
    border: 0.1px solid #000000;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 4px;
    display: flex;
    align-items: center;

}