<p>booking-dashboard works!</p>
<p>Event Type: {{invitation()?.event?.eventType}}</p>
<p>Event Name: {{invitation()?.event?.eventName}}</p>
@if (invitation()?.event?.eventDescription) {
<p>Event Description: {{invitation()?.event?.eventDescription}}</p>
}

@if (showBookingConfirmationWizard && slotField && invitationField) {
<div class="modal-backdrop fade show"></div> <!-- disables background -->
<div class="pop-out-wizard">
    <app-booking-confirmation-wizard [slot]='slotField' [invitation]='invitationField'
        (close)="closeBookingConfirmationWizard()"></app-booking-confirmation-wizard>
</div>
}

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Slot Name</th>
            <th scope="col">Slots Description</th>
            @if (invitation()?.event?.eventType == EventTypeModel.FIXED) {
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            }
            @if (invitation()?.event?.eventType == EventTypeModel.FLEXIBLE) {
            <th scope="col">Time Slot</th>
            }
            @if (invitation()?.event?.eventType == EventTypeModel.BUSINESS) {
            <th scope="col">Time Slot</th>
            }
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @for (slot of slotListToDisplay(); track slot.id; let i = $index) {
        <tr>
            <td scope="row">{{i+1}}</td>
            <td>{{slot.slotName}}</td>
            @if (slot.slotDescription) {
            <td>{{slot.slotDescription}}</td>
            } @else {
            <td></td>
            }
            @if (invitation()?.event?.eventType == EventTypeModel.FIXED) {
            <th scope="col">{{slot.slotStartTime | date:'yyyy-MM-dd HH:mm:ss z'}}</th>
            <th scope="col">{{slot.slotEndTime | date:'yyyy-MM-dd HH:mm:ss z'}}</th>
            }
            @if (invitation()?.event?.eventType == EventTypeModel.FLEXIBLE) {
            <td>
                @for (range of slot.flexibleDaysHours; track $index) {
                <div>
                    {{range.open| date:'yyyy-MM-dd HH:mm'}}
                    ->
                    {{range.close| date:'yyyy-MM-dd HH:mm'}}
                </div>
                }
            </td>
            }
            @if (invitation()?.event?.eventType == EventTypeModel.BUSINESS) {
            <td>
                @for (day of businessDays; track day) {
                    @if (slot.businessDaysHours?.[day]?.length) {
                        <div>
                            <b>{{dayNames[day]}}</b>
                            @for (range of getSlotBusinessDaysHoursRange(day,slot); track $index) {
                                <div>
                                    {{range.open}} -> {{range.close}}
                                </div>
                            }
                        </div>
                    }
                }
            </td>
            }
            <th>
                <button type="button" class="btn btn-outline-info" (click)="openBookingConfirmationWizard(slot)">Select
                    Slot</button>
            </th>
        </tr>
        }
    </tbody>
</table>