<div class="full-vh d-flex flex-column justify-content-center align-items-center p-3">
    <div class="card p-4 shadow-sm m-3" style="width: 100%; max-width: 450px;">
        <h3 class="text-center mb-4">Register</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Username -->
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" formControlName="username">
                @if (registerForm.controls['username'].invalid && (registerForm.controls['username'].touched ||
                registerForm.controls['username'].dirty)){
                <div class="text-danger small">
                    Username must be 3-30 characters, only letters, digits, and special character !@#$%^&*; cannot start
                    or end
                    with special character
                </div>
                }
            </div>
            <!-- Password -->
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password">
                @if (registerForm.controls['password'].invalid && (registerForm.controls['password'].touched ||
                registerForm.controls['password'].dirty)){
                <div class="text-danger small">
                    Password must be 8-40 characters, include uppercase, lowercase, digit, and special character
                    !@#$%^&*
                </div>
                }
                <div class="form-check mt-1">
                    <input class="form-check-input form-check-input-sm" type="checkbox" id="showPassword"
                        (change)="showPassword = !showPassword" />
                    <label class="form-check-label small" for="showPassword">
                        Show password
                    </label>
                </div>
            </div>
            <!-- Confirm Password -->
            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
                    formControlName="confirmPassword">
                @if (registerForm.hasError('passwordUnmatched') &&
                (registerForm.controls['confirmPassword'].touched||
                registerForm.controls['confirmPassword'].dirty)){
                <div class="text-danger small">
                    Password do not match
                </div>
                }
                <div class="form-check mt-1">
                    <input class="form-check-input form-check-input-sm" type="checkbox" id="showConfirmPassword"
                        (change)="showConfirmPassword = !showConfirmPassword" />
                    <label class="form-check-label" for="showConfirmPassword">
                        Show password
                    </label>
                </div>
            </div>
            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" formControlName="email">
                @if (registerForm.controls['email'].invalid && (registerForm.controls['email'].touched ||
                registerForm.controls['email'].dirty)){
                <div class="text-danger small">
                    Invalid Email Address
                </div>
                }
            </div>

            <!-- First Name & Last Name -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" formControlName="firstName">
                    @if (registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].touched ||
                    registerForm.controls['firstName'].dirty)){
                    <div class="text-danger small">
                        First Name must be between 1 and 100 characters
                    </div>
                    }
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName">
                    @if (registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].touched ||
                    registerForm.controls['lastName'].dirty)){
                    <div class="text-danger small">
                        Last Name must be between 1 and 100 characters
                    </div>
                    }
                </div>
            </div>

            <!-- Agree Checkbox -->

            <div class="form-check mb-3">
                <label class="form-check-label small">
                    <input class="form-check-input form-check-input-sm" type="checkbox" value="" formControlName="isAgree">
                    Agree to terms and conditions
                </label>
                @if (registerForm.controls['isAgree'].invalid && registerForm.controls['isAgree'].touched){
                <div class="text-danger small">
                    You must agree before submitting.
                </div>
                }
            </div>

            <!-- Register Button & Link -->
            <div class="text-center mb-3">
                <a routerLink="/login" class="text-decoration-none" style="cursor: pointer;">
                    Already have an account? Login
                </a>
            </div>
            <button class="btn btn-primary w-100" type="submit" [disabled]="registerForm.invalid">Register</button>
        </form>
    </div>
</div>